.centered {
	border: black 2 px solid;
	column-width: 32vw;
	align-content: center;
    justify-content: center;

}
.altCentered {
    color: white;
	height: 70vw;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
}
.col-4 {
	column-width: 32vw;
}
